nav.navigation
  .navigation__wrapper
    a.navigation(href="/")
      | mathiso

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__item(href="/works") Work

      li.navigation__list__item
        a.navigation__list__item(href="/about") About

      li.navigation__list__item
        a.navigation__list__item(href="/contact") Contact
