$color-black: #000000;
$color-lime: #bfff07;
$color-white: #ffffff;

$font-area: 'Area';
$font-joly: 'Joly';
$font-dudler: 'Dudler';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);
