*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  @extend %cover;

  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
  position: fixed;
  overflow: hidden;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  @extend %cover;
  @extend %description-16;

  font-family: $font-area;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

img {
  opacity: 0;
  transition: opacity 0.4s ease;
  vertical-align: middle;

  &.loaded {
    opacity: 1;
  }
}

.content {
  @extend %cover;
}

[data-animation="label"],
[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}
